<h1>Challenge one</h1>

<form action="/check" method="POST">
    <input type="number" placeholder="Enter your age here" name="age"/>
    <button type="submit">Save</button>
</form>

<a href="/">Voltar</a>